.article {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  box-shadow: 0 4px 8px #00000027;
}

.nome {
  display: flex;
  align-items: center;
}

.nome > h2 {
  font-size: 1.2em;
  color: #333;
}

.atualizacao {
  border: 0;
  border-radius: 50%;
  padding: 4px 6px;
}

.atualizacao > svg {
  color: #555;
}

.atualizacao:hover {
  background-color: #00000010;
  cursor: pointer;
}

.cpf {
  margin-top: 4px;
  font-size: 0.9em;
  color: #555;
}

.opcoes {
  font-size: 1em;
  color: #333;
}

.data {
  font-size: 0.9em;
  color: #333;
}

.divTrouxe {
  margin-bottom: 8px;
}

.labelTrouxe {
  font-size: 0.95em;
  margin-left: 8px;
  color: #17a617;
}

.labelNaoTrouxe {
  font-size: 0.95em;
  margin-left: 8px;
  color: #9c1f1f;
}

.labelTrouxe:hover,
.labelNaoTrouxe:hover,
input[name="trouxe"]:hover {
  cursor: pointer;
}
