.sucesso {
  width: fit-content;
  padding: 1.5em 3em;
  border-radius: 0.5em;
  font-weight: 800;
  background-color: #abe0b8;
  color: #4a614f;
  position: fixed;
  right: 40px;
  top: 20px;
}

.erro {
  width: fit-content;
  padding: 1.5em 3em;
  border-radius: 0.5em;
  font-weight: 800;
  background-color: #fb9b9b;
  color: #7a2727;
  position: fixed;
  right: 40px;
  top: 20px;
}
